# To create api key visit [https://aistudio.google.com/api-keys]
GEMINI_API_KEY=INSERT_GEMINI_API_KEY_HERE

#Insert Quadrant Endpoint URL 
QDRANT_URL=https://cloud.qdrant.io

# TO create api key visit [visit https://qdrant.tech/documentation/cloud-api/]
QDRANT_API_KEY=INSERT_QDRANT_API_KEY_HERE

